testing/*
auxiliary/*
notes*
docs/*docx
docs/*tex
docs/*bkp
docs/*RData
docs/carnivore*
docs/*cache
docs/*files
docs/Supporting_Information_S4*
!docs/Supporting_Information_S4.pdf
docs/ref.bib
*lock*
*Rplots.pdf
*auctex*
